* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}









/*-----------------header---------------*/
.header {
    background: url(../img/header-bg-img.jpg);
    background-size: cover;
    width: 100%;
    /*height: auto;*/
    min-height: 604px;
    overflow: hidden;
    color: #ffffff;
}

