* {
    box-sizing: border-box;
}

body {
    font: 400 16px/1.6 "Helvetica Neue", sans-serif;
    color: #848484;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

/*-----------------header---------------*/

.header {
    background: url(../img/header-bg-img.jpg);
    background-size: cover;
    width: 100%;
    min-height: 604px;
    overflow: hidden;
    color: #ffffff;
    padding: 105px 0 0 0;
    position: relative;
}

.header:before {
    content: "";
    display: block;
    height: 9px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #2ecc71;
}

.header .container {
    padding: 0 60px 0 125px;
    display: flex;
}

.text-link {

    padding: 72px 118px 60px 0;
    width: 56.5%;

}

.logo-header {
    padding: 0;
    margin: 0;
    display: block;
}

.logo-header .logo-img {
    vertical-align: middle;
}

.text-link h1 {
    padding: 0;
    margin: 0 0 27px 0;
}

.text-link p {
    padding: 0;
    margin: 0 0 21px 5px;
    font: 500 24px/1.5 "Helvetica Neue", sans-serif;
    letter-spacing: 0.017em;

}

.container-img {
    display: flex;
    width: 42%;
    align-items: flex-end;
}

.container-img .header-img {
    vertical-align: middle;

}

.link-header {
    padding: 0;
    margin: 0 0 0 5px;
    list-style-type: none;
}

.link-header li {
    display: inline-block;
    margin-right: 10px;
}

.link-header a {
    display: block;
    background: rgba(3, 3, 3, .7);
    height: 53px;
    width: 53px;
    color: rgba(244, 244, 244, .7);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.link-header a:hover,
.link-header a:focus {
    background: #2ecc71;
    color: #f4f4f4;
}

.link-header .fa {
    font-size: 24px;
    line-height: 2.2;
}

/*--------features-section---------------------*/

.features-section {
    padding: 28px 0;
}

.features-section .card-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
}

.features-section .card-item {
    padding: 0;
    margin: 0;
    width: 27%;
}

.card-features {
    padding-top: 32px;
    text-align: center;
    width: 100%;
}

.link-icon-features {
    display: block;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: #2ecc71;
    text-align: center;
    padding: 26px;
    text-decoration: none;
    color: inherit;
    margin: 0 auto 30px;
    transition: 0.35s;
}

.link-icon-features:hover,
.link-icon-features:focus {
    opacity: .7;
}

.card-features h3 {
    color: #222222;
    font:600 22px/0.8 "Raleway Bold", sans-serif;
    padding: 0;
    margin: 0 0 24px 0;
}

.card-features .link-title {
    text-decoration: none;
    color: inherit;
,    margin: 0 auto 30px;
}

.card-features .link-title:hover,
.card-features .link-title:focus{
    opacity: .7;

}

.card-features p {
    padding: 0;
    margin: 0 0 26px 0;
    letter-spacing: 0.009em;
}

/*--------------notified-section----------------*/

.notified-section {
    background: #e3e3e3;
    padding: 61px 0;
}

.notifid-form {
    width: 57.5%;
    float: left;
    padding-right: 138px;
}

.notifid-form h2 {
    margin: 0 0 24px 1px;
    font: 600 22px/0.8 "Raleway Bold", sans-serif;
    color: #222222;
}
.notifid-form p {
    margin: 0 0 24px 0;
}

.form-group {
    border: 1px solid #c8c8c8;
    border-radius: 15px;
    max-width: 446px;
    overflow: hidden;;
    display: flex;
}

.form-group input {
    font-size: 18px;
    line-height: 1;
    color: #848484;
    width: 69%;
    padding: 18px 0 16px 24px;
    display: block;
    border: transparent;
    background: #ffffff;
}

::-webkit-input-placeholder {
    color: #848484;
}

::-moz-placeholder {
    color: #848484;
}

:-ms-input-placeholder {
    color: #848484;
}

:-moz-placeholder {
    color: #848484;
}

.btn-notified {
    display: inline-block;
    font:700 22px/0.8 "Raleway", sans-serif;
    padding: 19px 40px 20px 34px;
    color: #ffffff;
    background: #2ecc71;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    transition: .35s;
    outline: none;
}

.notified-section .thumb{
    width: 42.5%;
    float: right;
    background: #222222;
    border-radius: 10px;
}

.notified-section .thumb iframe {
    width: 100%;
    height: 307px;
    display: block;
}

/*--------------reviews-section-----------------*/

.reviews-section {
    padding: 51px 0 29px;
}

.container-blockquote {
    padding: 30px auto ;
    text-align: center;
    margin: 0 auto;
    font: italic 18px/1.67 "Helvetica Neue", sans-serif;
}

.container-blockquote p {
    padding: 0;
    margin: 0 auto 18px;
    max-width: 825px;
    letter-spacing: 0.004em;
}

.autor-blockquote {
    color: #2e2e2e;
    font:700 18px/1.11 "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

.blockquote-container-img {
    padding: 9px 8px 0 0;
}

.list-link {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    overflow: hidden;
}

.list-link:before,
.list-link:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 5;
}

.list-link:before {
    left: -1px;
    box-shadow: 2px 0 26px 18px #fff;
}

.list-link:after {
    right: -1px;
    box-shadow: -1px 0 26px 98px #fff;
}

.blockquote-container-img .link-item{
    display: block;
}

.link-item a {
    position: relative;
    display: block;
}
.link-item a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: .3s;
    opacity: 0;
    background: #2ecc71;
}

.link-item a:hover:before,
.link-item a:focus:before {
    opacity: .6;
}

.blockquote-container-img .link-item img {
    width: 50px;
    vertical-align: middle;
}


/*--------------contact-section--------------*/

.contact-section {
    padding: 27px 0 36px 0;
    margin: 0 auto;
    text-align: center;
}

.contact-section h2 {
    padding: 0;
    margin: 0 0 17px 0;
    font: 600 24px/1 "Raleway", sans-serif;
    color: #000000;
}

.contact-section p {
    padding: 0;
    margin: 0 0 25px 0;
}

.contact-section .social-nav ul {
    padding: 0;
    margin: 0 auto 30px;
    list-style-type: none;
    max-width: 254px;
    display: flex;
    justify-content: space-between;
}

.contact-section .social-nav a {
    display: block;
    background: #c5c5c5;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transition: .35s;
}

.contact-section .social-nav a:hover,
.contact-section .social-nav a:focus {
    background: #2ecc71;
}

.contact-section .social-nav .fa {
    font-size: 22px;
    line-height: 1.6;
    color: #ffffff;
}

/*-------------------footer----------------------*/
.footer {
    padding: 52px 0 54px 0;
    background: #e3e3e3;
}

.nav-footer {
    list-style-type: none;
    /*max-width: 544px;*/
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.nav-footer li {
    display: inline-block;
    margin-right: 32px;
}
.nav-footer li:last-child {
    margin-right: 0;
}

.nav-footer li a {
    text-decoration: none;
    color: #848484;
    display: block;
    transition: .35s;
}

.nav-footer li a:hover {
    opacity: .6;
}

