@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue.woff') format('woff'),
        url('HelveticaNeue.ttf')  format('truetype'),
        url('HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeue-Italic';
    src: url('HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Italic.woff') format('woff'), url('HelveticaNeue-Italic.ttf')  format('truetype'), url('HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

